.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 70px;
  column-gap: 100px;
}

.item {
  display: flex;
  gap: 15px;
}

.item img {
  display: block;
  width: 150px;
  border-radius: 100px;
}

.item > :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.item > :last-child {
  position: relative;
  top: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item button {
  width: 6em;
}

.item h4,
.item p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  max-width: 144px;
}

.status {
  color: darkblue;
  font-size: 0.8em;
  max-width: 200px;
}

.location {
  font-size: 0.8em;
}

.pages {
  align-self: center;
  display: flex;
  gap: 5px;
}

.pages > div {
  user-select: none;
  /* border: 1px solid darkblue; */
  text-align: center;
  width: 20px;
  padding: 10px;
  background-color: rgb(195, 216, 255);
  color: darkblue;
  border-radius: 3px;
}

.pages > .current {
  cursor: pointer;
  color: white;
  background-color: darkblue;
}

.pages > div:not(.disabled):not(.current):hover {
  cursor: pointer;
  color: white;
  background-color: cornflowerblue;
}

.disabled {
  opacity: 0.5;
}
