.postsBlock {
  padding: 10px;
}

.posts {
  display: flex;
  flex-direction: column-reverse;
}

.new form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new textarea {
  height: 100px;
}

.new h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.new button {
  align-self: flex-end;
}
