.postsBlock {
  padding: 10px;
}

.new {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new textarea {
  display: block;
  padding: 10px;
  height: 100px;
  resize: none;
  border: 2px solid darkblue;
  border-radius: 10px;
}

.new button {
  display: block;
  align-self: flex-end;
  padding: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  border: 2px solid darkblue;
  border-radius: 10px;
}

.new button:hover {
  cursor: pointer;
  color: darkblue;
  background-color: white;
}

.new h3 {
  margin: 0;
  padding: 0;
}
