.nav {
  grid-area: n;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

.item {
  color: white;
}

.item a {
  display: block;
  text-align: center;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 200px;
}

.item a.active {
  background-color: white;
  color: darkblue;
}
