.app-wrapper {
  display: grid;
  width: 1440px;
  margin: 0 auto;
  grid-template-areas:
    'h h'
    's c';

  grid-template-columns: 1fr 4fr;
  grid-template-rows: 80px 1fr;
  gap: 5px;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #e6edff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

textarea {
  display: block;
  padding: 10px;
  resize: none;
  border: 2px solid darkblue;
  border-radius: 10px;
}

button {
  display: block;
  padding: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  border: 2px solid darkblue;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  color: darkblue;
  background-color: white;
}

button:disabled {
  background-color: rgb(149, 149, 149);
  color: white;
  border: 2px solid black;
  pointer-events: none;
}
